<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta name="description" content="Abstract Creative's award-winning services include advertising, branding, digital, and print.">
        <meta content="Abstract Creative" name="Efren Cavazos">
        <meta name="robots" content="index, follow">
        <meta property="og:site_name" content="ABSTRACT CREATIVE | Reliable services you can count on.">
        <meta property="og:url" content="https://www.abstract-creative.com/services/index.html">
        <meta property="og:title" content="We are idea-driven, working with a strong focus on design and user experience.">
        <meta property="og:type" content="service">
        <title>ABSTRACT CREATIVE | Services</title>
        <link rel="canonical" href="https://www.abstract-creative.com/services/index.html">
        <meta name="keywords" content="digital, cms, email, social media, seo, ux, web development, website design,">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Teko:wght@300;400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap" rel="stylesheet">
        <!--CSS-->
        <link href="../assets/css/icofont.min.css" rel="stylesheet">
        <link href="../assets/css/linearicons.min.css" rel="stylesheet">
        <link href="../assets/css/magnific-popup.min.css" rel="stylesheet">
        <link href="../assets/css/animsition.min.css" rel="stylesheet">
        <link href="../assets/css/swiper.min.css" rel="stylesheet">
        <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
        <!--Theme CSS-->
        <link href="../assets/css/theme.css" rel="stylesheet">
        <link href="../assets/css/responsive.css" rel="stylesheet">
        <!-- <link href="../assets/css/dark.css" rel="stylesheet"> -->
        <!--Favicons-->
        <link href="../favicons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
        <link href="../favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
        <link href="../favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
        <link href="../favicons/site.webmanifest" rel="manifest">
        <link color="#5bbad5" href="../favicons/safari-pinned-tab.svg" rel="mask-icon">
        <link href="../favicons/favicon.ico" rel="shortcut icon">
        <meta content="#da532c" name="msapplication-TileColor">
        <meta content="favicons/browserconfig.xml" name="msapplication-config">
        <meta content="#ffffff" name="theme-color">
    </head>

    <body class="page">
        <div style="display: none">
            <!-- svg sprite-->
            <svg style="width:0; height:0; visibility:hidden;" xmlns="http://www.w3.org/2000/svg">
      <symbol id="icon_ion-icon-apps" viewBox="0 0 512 512">
        <path
          d="M96 176h80V96H96v80zm120 240h80v-80h-80v80zm-120 0h80v-80H96v80zm0-120h80v-80H96v80zm120 0h80v-80h-80v80zM336 96v80h80V96h-80zm-120 80h80V96h-80v80zm120 120h80v-80h-80v80zm0 120h80v-80h-80v80z" />
      </symbol>
    </svg>
        </div>
        <div class="page__inner animsition">
            <!-- Header -->
            <header class="header header_white header_fixed ">
                <div class="header__container">
                    <div class="header__wrapper container-fluid">
                        <div class="header__inner">
                            <!-- Logo  -->
                            <div class="header-logo logo">
                                <a href="../index.html" class="logo-link">
                                    <img class="logo-white" src="../img/logo-white.png" srcset="../img/logo-white2x.png 2x" alt="logo">
                                </a>
                            </div>
                            <button class="header__menu-button" type="button">
              <span class="header__menu-button-inner"></span>
            </button>
                        </div>
                    </div>
                </div>
                <div class="header__overlay"></div>
                <div class="menu-panel header__menu">
                    <div class="menu-panel__inner">
                        <button class="header__menu-button header__menu-button_fixed" type="button">
            <span class="header__menu-button-inner"></span>
          </button>
                        <div class="menu-panel__menu">
                            <div class="menu-panel__menu-item">
                                <a class="menu-panel__menu-link collapsed" data-toggle="collapse" href="../index.html">Home</a>
                            </div>
                            <div class="menu-panel__menu-item">
                                <a class="menu-panel__menu-link collapsed" data-toggle="collapse" href="../works.html">Works</a>
                            </div>
                            <div class="menu-panel__menu-item">
                                <a class="menu-panel__menu-link collapsed collapsed" data-toggle="collapse" href="../about.html">About</a>
                            </div>
                            <div class="menu-panel__menu-item">
                                <a class="menu-panel__menu-link collapsed menu-panel__menu-link menu-panel__menu-link_active" data-toggle="collapse" href="#submenu4">Services</a>
                                <div class="menu-panel__menu-list collapse" id="submenu4">
                                    <div class="menu-panel__bottom-submenu">
                                        <div class="menu-panel__submenu-item">
                                            <a class="menu-panel__submenu-link menu-panel__submenu-link menu-panel__submenu-link_active" href="./advertising/index.html">Advertising</a>
                                        </div>
                                        <div class="menu-panel__submenu-item">
                                            <a class="menu-panel__submenu-link menu-panel__submenu-link menu-panel__submenu-link_active" href="./branding/index.html">Branding</a>
                                        </div>
                                        <div class="menu-panel__submenu-item">
                                            <a class="menu-panel__submenu-link menu-panel__submenu-link menu-panel__submenu-link_active" href="./digital/index.html">Digital</a>
                                        </div>
                                        <div class="menu-panel__submenu-item">
                                            <a class="menu-panel__submenu-link menu-panel__submenu-link menu-panel__submenu-link_active" href="./print/index.html">Print</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-panel__menu-item">
                                <a class="menu-panel__menu-link collapsed collapsed" data-toggle="collapse" href="../contact.html">Contact</a>
                            </div>
                        </div>
                        <div class="menu-panel__footer">
                            <div class="socials menu-panel__socials">
                                <a class="socials__social icofont-twitter" href="https://twitter.com/abstr8ct">
                                    <div class="visually-hidden">twitter</div>
                                </a>
                                <a class="socials__social icofont-facebook" href="https://facebook.com/abstr8ct">
                                    <div class="visually-hidden">facebook</div>
                                </a>
                                <a class="socials__social icofont-instagram" href="https://instagram.com/abstr8ct">
                                    <div class="visually-hidden">instagram</div>
                                </a>
                            </div>
                            <div class="menu-panel__bottom">
                                <div class="menu-panel__copyright">© 2020
                                    <strong>ABSTRACT.</strong> All Rights Reserved.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Header end -->

            <!-- Main -->
            <main>
                <div class="main-slide main-slide main-slide_size_medium">
                    <div class="parallax-image main-slide__image">
                        <div class="parallax-image__image" data-rellax-percentage="0.5" data-rellax-speed="-3" style="background-image: url('../img/about.jpg')"></div>
                    </div>
                    <div class="main-slide__container container">
                        <div class="main-slide__slide-inner">
                            <div class="main-slide__subtitle-wrapper">
                                <h1 class="main-slide__subtitle">WE SPECIALIZE IN</h1>
                            </div>
                            <div class="main-slide__title-wrapper">
                                <div class="main-slide__title">The Best Services for your
                                    <br> Your Business Solutions
                                </div>
                            </div>
                            <div class="main-slide__text-wrapper">
                                <div class="main-slide__text">Abstract Creative's fully integrated creative and digital teams work as one to provide consistent results for our clients.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-block">
                    <div class="container">
                        <div class="service-block__head">
                            <div class="row">
                                <div class="col-12 col-lg-6 col-xl-5">
                                    <div class="service-block__title">
                                        <p>We are idea-driven, working with a strong focus on design and user experience.</p>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 offset-xl-1">
                                    <div class="service-block__text">
                                        <p>We love crafting beautiful, smart and inspired work that focuses on a business’ goals and their customers. We do this across multiple touch points to help organizations achieve their goals.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Service destail area -->
                    <div class="zoom-services">
                        <div class="container">
                            <div class="zoom-services__title">Our services</div>
                            <div class="zoom-services__wrapper zoom-services__wrapper zoom-services__wrapper_bordered">
                                <div class="zoom-services__list">
                                    <a class="zoom-services__item" href="advertising/index.html">
                                        <span><span class="zoom-services__item-title">Advertising</span>
                                        <span class="zoom-services__item-text">We know that successful brands establish an emotional
                      connection with consumers that can prove very difficult to break down. Advertising achieves
                      this.</span>
                                        <span class="zoom-services__item-footer"><span class="zoom-services__more orange">more</span></span>
                                    </a>
                                    <a class="zoom-services__item" href="branding/index.html">
                                        <span><span class="zoom-services__item-title">Branding</span>
                                        <span class="zoom-services__item-text">The fact is, branding matters. While successful brands stand
                      the test of time, many others fizzle out and fail to make an impact.</span>
                                        <span class="zoom-services__item-footer"><span class="zoom-services__more orange">more</span></span>
                                    </a>
                                    <a class="zoom-services__item" href="digital/index.html">
                                        <span><span class="zoom-services__item-title">Digital</span>
                                        <span class="zoom-services__item-text">The fact is, branding matters. While successful brands stand
                      the test of time, many others fizzle out and fail to make an impact.</span>
                                        <span class="zoom-services__item-footer"><span class="zoom-services__more orange">more</span></span>
                                    </a>
                                    <a class="zoom-services__item" href="print/index.html">
                                        <span><span class="zoom-services__item-title">Print</span>
                                        <span class="zoom-services__item-text">Tactile and familiar, there are few mediums that can rival
                      how
                      engaging a beautiful piece of print can be.</span>
                                        <span class="zoom-services__item-footer"><span class="zoom-services__more orange">more</span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="collapse-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="heading-group">
                                    <div class="heading-group__title">Easy & Fast With Our Design Process
                                    </div>
                                    <div class="heading-group__text">
                                        <p>Designing a website is also creative. To us, the challenge remains the same — get the brand out, get the message out, get the people coming in — but space is limited, and there are so many options to consider! Organizing
                                            information is harder than it looks.</p>
                                        <p>In the end, it all boils down to strategy. The thing that keeps us on track is our process, which guides us step by step from gathering critical knowledge, to create a logical structure, to conducting adequate testing,
                                            to deliver a website that meets all your CTQs.</p>
                                        <p>For us, it’s not about bells and whistles, but bells and whistles that work.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6 offset-lg-1">
                                <div class="collapse-list">
                                    <div class="collapse-list__collapse">
                                        <a class="collapse-list__collapse-head collapsed" data-toggle="collapse" href="#collapse1">1. The
                    Discovery Phase
                    <span class="collapse-list__collapse-head-icon icon-chevron-up"></span>
                  </a>
                                        <div class="collapse-list__collapse-text collapse" id="collapse1">
                                            <div class="collapse-list__collapse-text-inner">Website design begins with a thorough upfront discovery process. Through interviews, and surveys we are able to gain the understanding of your business, brand, marketing strategy, competitors—and, your budget.
                                                This is how we make sure you're going to end up a satisfied customer.
                                                <div class="row mt-3">
                                                    <div class="col-12">
                                                        <p><strong class="orange">Customer</strong><br>
                                                            <span class="black">Profile by Service Line</span></p>
                                                        <hr class="grey">
                                                        <ul>
                                                            <li>Service Line Objectives</li>
                                                            <li>Competitive Website Survey</li>
                                                            <li>Customer Profile by Service Line</li>
                                                            <li>Customer journey</li>
                                                            <li>Role of website</li>
                                                            <li>Preferred Action/Response</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-12 mt-3">
                                                        <p><strong class="orange">Technical</strong><br>
                                                            <span>Do you track website conversions?</span><br> If so, what is considered a conversion, and how do you track it?</p>
                                                        <hr class="grey">
                                                        <ul class="mb-3">
                                                            <li>Current Site Map</li>
                                                            <li>Social Media Survey</li>
                                                            <li>Hosting</li>
                                                            <li>Maintenance</li>
                                                            <li>SEM Review</li>
                                                            <li>SEO Analysis</li>
                                                        </ul>
                                                        <hr class="orange">
                                                        <p class="mb-3"><strong class="orange">Step 1 Outcome</strong><br> A customized learning summary that provides the basis for planning website design and digital marketing presence moving forward.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="collapse-list__collapse">
                                        <a class="collapse-list__collapse-head collapsed" data-toggle="collapse" href="#collapse2">2. The
                    Strategy/Planning Phase
                    <span class="collapse-list__collapse-head-icon icon-chevron-up"></span>
                  </a>
                                        <div class="collapse-list__collapse-text collapse" id="collapse2">
                                            <div class="collapse-list__collapse-text-inner">
                                                <p>During an interactive planning session we work with your organization to agree on priorities and specific of your website. We identify digital marketing opportunities and requirements for website development.
                                                    At the end of the planning phase we will present a project plan, timeline and creative brief that summarizes key objectives, audiences, messaging, tone, creative direction, mandatories, functionality
                                                    requirements, budget/budgetary range, timeline, etc. for your review/approval. This is the document our team will use as reference from this point forward.</p>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p class="grey">Review</p>
                                                        <hr class="grey">
                                                        <ul>
                                                            <li>Timeline & milestone setup</li>
                                                            <li>Creative brief</li>
                                                            <li>Identified audience</li>
                                                            <li>Key messaging and tone</li>
                                                            <li>SEO keyword research</li>
                                                            <li>SEO copywriting</li>
                                                            <li>Meta descriptions</li>
                                                            <li>Sitemap</li>
                                                        </ul>
                                                        <hr class="orange">
                                                        <p class="mb-3"><strong class="orange">Step 2 Outcome</strong><br> The Creative Brief documents our understanding of the project goals and identifies the strategy to meet the goals within the budget.</p>
                                                        <P>If for some reason you decide to discontinue the project after the Strategy/ Planning session, we will have to bill you for our time for the session and Creative Brief based on an hourly fee schedule.
                                                            For those of you moving forward? The Strategy/Planning session is part of the package.</P>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="collapse-list__collapse">
                                        <a class="collapse-list__collapse-head collapsed" data-toggle="collapse" href="#collapse3">3.
                    Copywriting and Look and Feel
                    <span class="collapse-list__collapse-head-icon icon-chevron-up"></span>
                  </a>
                                        <div class="collapse-list__collapse-text collapse" id="collapse3">
                                            <div class="collapse-list__collapse-text-inner">
                                                <p>We use a content-first approach to developing websites, meaning that the content drives the visual design instead of the other way around. This allows the design of your website to communicate your message
                                                    in the most effective way possible, but also requires that website content be developed prior to laying out each page and designing the site.
                                                </p>
                                                <p>Abstract does our part to work with our writing talent to brief them on the goals and strategies for your website. The copy will be submitted to and approved by you.
                                                </p>
                                                <p>A visual look & feel can be developed while the content creation process is in progress. The look & feel isn't the same as the layout for each page, but will serve as the creative and visual base for the
                                                    remainder of the site.
                                                </p>
                                                <hr class="orange">
                                                <p class="mb-3"><strong class="orange">Step 3 Outcome</strong><br> All of your website's written content, as well as a website look & feel that establishes direction for the rest of your site.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse-list__collapse">
                                        <a class="collapse-list__collapse-head collapsed" data-toggle="collapse" href="#collapse4">4.
                    Development/Site Layout
                    <span class="collapse-list__collapse-head-icon icon-chevron-up"></span>
                  </a>
                                        <div class="collapse-list__collapse-text collapse" id="collapse4">
                                            <div class="collapse-list__collapse-text-inner">
                                                <p>Once your website's content is created and the look & feel is complete, Abstract will move on to the layout of the pages for your website. Our designers will review the approved content and will complete
                                                    a visual guide representing the skeletal framework of your site. This allows us to visually frame and structure the content for the visual look & feel, and allows us to present a consistently designed
                                                    layout for your content.
                                                </p>
                                                <p>Once the look and feel process is complete, we will design the interior pages for your site, starting with master pages or templates. The layouts we present will become the templates for your site. For example,
                                                    instead of laying out each of your products in a unique layout, we will present a single product page for you to review and approve, and then follow that template for each product. This ensures that
                                                    your website visitors have a consistent experience and can easily find the content they need on each page, while also minimizing project scope and ensuring that all additions follow a consistent pattern.
                                                </p>
                                                <p>This phase will consist of two rounds of revisions, as there are usually creative changes we'll need to make as we design the site templates. Once each template is complete, we will present them to you for
                                                    approval, and will move into the site development phase.</p>
                                                <p>At this time, we will also present a Scope of Work document to be authorized. This document will outline how the site is developed, how content is managed, and any additional functionality that may have
                                                    been discussed as the project has progressed. Its purpose is to ensure that we agree on the details of the project prior to heading into the development of the website.</p>
                                                <hr class="orange">
                                                <p class="mb-3"><strong class="orange">Step 4 Outcome</strong><br> A mockup of each site template, which shows how each category or content type will look on your new site. A Scope of Work which details the look and functionality
                                                    of the site.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse-list__collapse">
                                        <a class="collapse-list__collapse-head collapsed" data-toggle="collapse" href="#collapse5">5.
                    Programming / Coding
                    <span class="collapse-list__collapse-head-icon icon-chevron-up"></span>
                  </a>
                                        <div class="collapse-list__collapse-text collapse" id="collapse5">
                                            <div class="collapse-list__collapse-text-inner">
                                                <p>On the road map to website development, this is where you see how things work, experience the interactivity, take in the full user experience. Everything before this phase is relatively fluid and open to
                                                    discussion.</p>
                                                <p><strong>Existing CMS Integration</strong> We will put all of the parts together into the existing Content Management System (CMS). We'll take the finalized content, and approved prototypes and put them into
                                                    a system that allows you to manage your content, as well as add new pages and sections as your business needs change.</p>
                                                <p>We'll run another Q/A test to ensure that all of the content is being properly pulled from the system and displays for the website visitor as expected.</p>
                                                <hr class="orange">
                                                <p class="mb-3"><strong class="orange">Step 5 Outcome</strong><br> A working, fully functional website, on a staging server that can be used for review.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse-list__collapse">
                                        <a class="collapse-list__collapse-head collapsed" data-toggle="collapse" href="#collapse6">6.
                    Getting Online
                    <span class="collapse-list__collapse-head-icon icon-chevron-up"></span>
                  </a>
                                        <div class="collapse-list__collapse-text collapse" id="collapse6">
                                            <div class="collapse-list__collapse-text-inner">
                                                <p>Once the site is, tested, and functioning properly, we can launch it. Our part involves cleaning up and removing extraneous code, inserting analytics scripts, finalizing any server-side configurations, and
                                                    turning the site from "staging" to "live." The deployment process takes about 72 hours to complete.</p>
                                                <p>Once your new website is up and running, we will invite your content management team into the office for training on the CMS. We'll break down how content is structured and managed, and discuss any technical/
                                                    content limitations of the system, such as what kinds of content can go in what places. At this point we will create accounts for your team and turn the system over to your team for management. The point
                                                    is to move you into DIY website management.</p>
                                                <hr class="orange">
                                                <p class="mb-3"><strong class="orange">Step 6 Outcome</strong><br> A working, fully functional website, live at your domain.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse-list__collapse">
                                        <a class="collapse-list__collapse-head collapsed" data-toggle="collapse" href="#collapse7">7.
                    Getting the Bumps Out
                    <span class="collapse-list__collapse-head-icon icon-chevron-up"></span>
                  </a>
                                        <div class="collapse-list__collapse-text collapse" id="collapse7">
                                            <div class="collapse-list__collapse-text-inner">
                                                <p>Abstract strives to produce digital products that are error-free, but occasionally a bug or two makes an appearance post-launch. To address this, Abstract offers free website support for 30 days after the
                                                    official website debut. Support is defined as assistance with any technical issues that arise due to omissions and errors by our technical staff.</p>
                                                <hr>
                                                <p>An example of a covered bug would be if you were to add a product page and find that the page doesn't appear in the appropriate navigation. Our bad — we’ll address it as part of the support agreement.</p>

                                                <p>Support does not include any technical issues that arise due to external factors beyond our control, as well as creative enhancements requested by your team during the development phase. An example of a
                                                    bug that isn't covered would be if the CMS itself were updated to patch a security issue, and as a result some content stops displaying. This would be a bug outside of our control, and subject to additional
                                                    charges to troubleshoot.</p>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="studio-reviews-cta">
                    <div class="container">
                        <div class="studio-reviews__head">
                            <!-- <div class=" col-md-10 studio-reviews__title">If you’d like to know more about how our ideas can help your
              business, please don’t hesitate to <span><a class="cta__link" id="myBtn" href="contact.html">contact us</a>
              </span></div> -->
                            <!-- Trigger/Open The Modal -->
                            <div class=" col-md-12 studio-reviews__title heading-group_centered">Ready to start a project? So are we.
                                <span>
                <button id="myBtn">Let's Get Started</button>
                <!-- The Modal -->
                <div id="myModal" class="modal">
                  <!-- Modal content -->
                  <div class="modal-content col-md-12 studio-reviews__title">
                    <!-- <span class="close"></span> -->
                                <span class="close-container close">
                      <span class="leftright"></span>
                                <span class="rightleft"></span>
                                <!-- <label class="close"></label> -->
                                </span>
                                <div class="container">
                                    <div class=" col-md-12 studio-reviews__title padding-50px-top heading-group_centered">Let's get started!
                                    </div>
                                    <div class="padding-50px-tb lead heading-group_centered ">We're excited that you are interested in working with us.<br> Inquiries are low-pressure, just fill in the blanks below and we’ll get back to you within one working day.
                                    </div>
                                </div>
                                <script class="padding-topx-top" src="https://clients.abstract-creative.com/frm/ReZJMKQktHSk1xs.js"></script>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        </main>
        <!-- Footer -->
        <footer class="footer-default footer">
            <div class="container">
                <div class="footer-default__head">
                    <!-- <a class="logo" href="/">Arquito</a> -->
                    <a href="./../index.html" class="logo-link">
                        <img class="logo-white" src="./../img/symbol.png" alt="logo">
                    </a>
                </div>
                <div class="row">
                    <div class="footer-default__column col-12 col-sm-6 col-md-3">
                        <div class="footer-default__group-title">Abstract Creative, LLC</div>
                        <p>Cypress, TX 77429
                        </p>
                        <p>
                            <a href="mailto:info@abstract-creative.com">info@abstract-creative.com</a>
                        </p>
                        <p>832-390-0527</p>
                    </div>
                    <div class="footer-default__column col-12 col-sm-6 col-md-3">
                        <div class="footer-default__group-title">help center</div>
                        <ul class="footer-default__list">
                            <li class="footer-default__list-item">
                                <a class="footer-default__list-link" href="./../faq.html">FAQs</a>
                            </li>
                            <li class="footer-default__list-item">
                                <a class="footer-default__list-link" href="./../terms-conditions.html">Terms & Conditions</a>
                            </li>
                            <li class="footer-default__list-item">
                                <a class="footer-default__list-link" href="./../privacy.html">Privacy</a>
                            </li>
                            <li class="footer-default__list-item">
                                <a class="footer-default__list-link" href="./../services/index.html">Services</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-default__column col-12 col-sm-6 col-md-3">
                        <div class="footer-default__group-title">quick links</div>
                        <ul class="footer-default__list">
                            <li class="footer-default__list-item">
                                <a class="footer-default__list-link" href="./../about.html">About</a>
                            </li>
                            <li class="footer-default__list-item">
                                <a class="footer-default__list-link" href="./../contact.html">Contact</a>
                            </li>
                            <li class="footer-default__list-item">
                                <a class="footer-default__list-link" href="./../works.html">works</a>
                            </li>
                            <li class="footer-default__list-item">
                                <a class="footer-default__list-link" href="https://clients.abstract-creative.com/" rel="nofollow">Client
                  login</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-default__column col-12 col-sm-6 col-md-3">
                        <div class="socials footer-default__socials">
                            <a class="socials__social icofont-twitter" href="https://twitter.com/abstr8ct">
                                <div class="visually-hidden">twitter</div>
                            </a>
                            <a class="socials__social icofont-facebook" href="https://www.facebook.com/abstr8ct">
                                <div class="visually-hidden">facebook</div>
                            </a>
                            <a class="socials__social icofont-instagram" href="https://www.instagram.com/abstr8ct/">
                                <div class="visually-hidden">instagram</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-default__bottom">
                    <div class="footer-default__copyright">© 2020 Abstract Creative, LLC All Rights Reserved.</div>

                </div>
            </div>
        </footer>
        <!-- Footer end -->
        </div>
        <!--JS-->
        <script src="../assets/js/polyfill.min.js"></script>
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/jquery.viewport.min.js"></script>
        <script src="../assets/js/jQuerySimpleCounter.min.js"></script>
        <script src="../assets/js/jquery.magnific-popup.min.js"></script>
        <script src="../assets/js/isotope.pkgd.min.js"></script>
        <script src="../assets/js/animsition.min.js"></script>
        <script src="../assets/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/js/rellax.min.js"></script>
        <script src="../assets/js/swiper.min.js"></script>
        <script src="../assets/js/smoothscroll.js"></script>
        <script src="../assets/js/svg4everybody.legacy.min.js"></script>
        <script src="../assets/js/TweenMax.min.js"></script>
        <script src="../assets/js/TimelineLite.min.js"></script>
        <script src="../assets/js/typed.min.js"></script>
        <script src="../assets/js/vivus.min.js"></script>
        <!--Theme JS-->
        <script src="../assets/js/theme.js"></script>
        <script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on the button, open the modal
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    </body>

</html>