
{% extends "base.html" %}
{% load static %}
<!-- {% load i18n %} -->
{% block content %}
  


    <section id="slider1" class="slider slider-1">
      <div class="carousel owl-carousel carousel-arrows carousel-dots" data-slide="1" data-slide-md="1"
        data-slide-sm="1" data-autoplay="false" data-nav="false" data-dots="false" data-space="0" data-loop="true"
        data-speed="3000" data-transition="fade" data-animate-out="fadeOut" data-animate-in="fadeIn">

        <div class="slide-item align-v-h bg-overlay">
          <div class="bg-img"><img src="{% static 'images/sliders/think_big.jpg' %}" alt="slide img"></div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-11">
                <div class="slide__content">
                  <h1 class="slide__title">Les Leaders en Conseil d'affaires et en Création d’entreprise </h1>
                  <!-- <p class="slide__desc">To further develop our corporate strengths we have established a corporate
                    mandate to maintain strong core values that truly reflect the companys philosophy.</p> -->
               
                  <a href="#" class="btn btn__primary btn__hover2 module__btn-request  module__btn-search">
                    <i class="icon-arrow-right"></i><span>Rendez-vous</span>
                  </a>
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-9 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
       
      </div><!-- /.carousel -->
    </section><!-- /.slider -->

    <!-- ========================
      About Layout 2
    =========================== -->
    <section id="aboutLayout2" class="about about-layout3 pt-120 pb-80 ">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
            <div class="heading heading-2 mb-50">
              <span class="heading__subtitle">Ce que nous faisons</span>
              <h2 class="heading__title_white">New Opportunity GC est un cabinet d’affaires internationales basé à Dubai avec filiale au grand Maghreb.</h2>
            </div><!-- /heading -->
            
          </div><!-- /.col-xl-6 -->
          <div class="col-sm-12 col-md-12 col-lg-8 col-xl-7 position-static">
            <div class="row mt-50 about__imgs-container">
              <div class="col-6">
                <div class="service__content">
                  <h4 class="service__title_white">La Création d’entreprise </h4>
                  <a href=""><p class="service__desc_grey">Votre projet demande de la préparation, des décisions importantes doivent être prises. Pour mettre en place un projet de création d’entreprise...</p></a>
                </div><!-- /.service-content -->
              </div><!-- /.col-6 -->
              <div class="col-6">
                <div class="service__content">
                  <h4 class="service__title_white">La gestion de l’entreprise </h4>
                  <a href=""><p class="service__desc_grey">La gestion d’entreprise correspond à l’implémentation des ressources pour assurer la mise en marche du projet...</p></a>
                </div><!-- /.service-content -->
              </div><!-- /.col-6 -->
            </div><!-- /.row -->
            <div class="row mt-50 about__imgs-container">
              <div class="col-6">
                <div class="service__content">
                  <h4 class="service__title_white">La Simulation des projets </h4>
                  <a href=""><p class="service__desc_grey">Notre simulation des projets englobe toutes les démarches clés de la gestion de ces derniers, et met en avant la communication de l’information qui est un...</p></a>
                </div><!-- /.service-content -->
              </div><!-- /.col-6 -->
              <div class="col-6">
                <div class="service__content">
                  <h4 class="service__title_white">Avis d’appel d’offres et Consultations </h4>
                  <a href=""><p class="service__desc_grey">Les appels d’offres et les consultations dans divers secteurs d’activité, représentent une mine d’opportunité d’affaire...</p></a>
                </div><!-- /.service-content -->
              </div><!-- /.col-6 -->
            </div><!-- /.row -->
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.About Layout 2 -->

    <!-- ========================= 
         Banner layout 1
    =========================  -->
    <section id="bannerLayout1" class="banner p-0">
      <div class="container-fluid col-padding-0">
        <div class="row">
          
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="min-height: 450px;">
            <div class="bg-img"><img src="{% static 'images/sliders/brainstorming.png' %}" alt="background">
            </div>
            <div class="inner-padding">
              <div class="heading heading-3 heading-white mb-50">
                <h2 class="text-light" style="color: #046d6d; float: right;">La planification proactive que nous suggérons permet d’améliorer la performance et la rentabilité de votre entreprise.</h2>
              </div><!-- /.heading -->
              <a href="#" class="btn btn__white btn__bordered">
                <i class="icon-arrow-right"></i><span>Our Services</span>
              </a>
            </div>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Banner layout 1 -->

    <!-- =========================
      portfolio carousel
      =========================== -->
    <section id="faq" class="faq pt-120 pb-90 bg-img-pattern">
      <div class="container">
        <div class="row heading heading-2 mb-40">
          <div class="col-sm-12 col-md-12 col-lg-12">
          </div><!-- /.col-lg-12 -->
          <div class="col-sm-12 col-md-12 col-lg-6">
            <h2 class="heading__title " style="margin-top:40px">Pourquoi New Opportunity GC?</h2>
          </div><!-- /heading -->
          <div class="faq col-sm-12 col-md-12 col-lg-6">
            <div class="accordion-item-no-lines opened">
              <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse3">
              </div><!-- /.accordion-item-header -->
              <div id="collapse3" class="collapse show" data-parent="#accordion">
                <div class="accordion__item-body">
                  <p>Opportunity est un mot dans notre langage qui, pour nous, ne suggère que « l’opportunité ».
                    Cette restriction dans la compréhension de ce mot magique, ne l’est que par l’acception positive « de saisir l’opportunité ». C’est une culture que nous portons fièrement et que nous transmettons à des leaders par des leaders. <br> <br>
                    Nous possédons les compétences, l’expérience et les outils nécessaires au pilotage de votre activité commerciale à l’international. <br> <br>
                    Notre société assure une gamme de services d’assistance et conseil en affaires pour une gestion efficace. 
                    
                  </p>
                </div><!-- /.accordion-item-body -->
              </div>
            </div><!-- /.accordion-item -->
            
          </div><!-- /heading -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.portfolio carousel -->

      
{% endblock content %}
 
