{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="pageTitle" class="page-title page-title-layout9 bg-overlay bg-parallax text-center">
  <div class="bg-img"><img src="{% static 'images/page-titles/simulation.jpg' %}" alt="background"></div>
  <div class="container">
    <div class="row">
      <div class="">
        <h1 class="pagetitle__heading">Simulation des projets </h1>
        <a href="#rdv"  class="btn btn__white">
          <i class="icon-arrow-right"></i><span>Rendez-vous</span>
        </a>
      </div><!-- /.col-lg-8 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<!-- ========================
    services Layout 2
=========================== -->
<section id="servicesLayout2" class="services services-layout2 pt-120 pb-90 bg-gray">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <span class="heading__subtitle">La Simulation des projets </span>
      </div><!-- /.col-lg-12 -->
      <div class="col-sm-12 ">
        <h2 class="heading__title">Notre simulation des projets englobe toutes les démarches clés de la gestion de ces derniers, <br> et met en avant la communication de l’information qui est un facteur important à la réussite. <br> La réactivité selon les besoins du projet et le dynamisme sont au cœur de la simulation. </h2>
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="row">
      <h3 class="heading__desc text-center mb-4 " style="font-size: 18px;">Nos experts vous accompagneront sur toute la ligne, afin d'assurer les meilleurs résultats pour votre simulation et garantir une succession totale à vos projets 
      </h3>
    </div><!-- /.col-lg-6 -->
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__content">
            <div class="service__icon"><i class="icon-tank-2"></i></div>
            <h4 class="service__title">Planification opérationnelle, stratégique et financière de l’entreprise </h4>
          </div><!-- /.service-content -->
        </div><!-- /.service-item -->
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__content">
            <div class="service__icon"><i class="icon-manufacturing-plant"></i></div>
            <h4 class="service__title">	L’établissement d’une stratégie visant à maximiser les profits </h4>
            
          </div><!-- /.service-content -->
        </div><!-- /.service-item -->
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__content">
            <div class="service__icon"><i class="icon-factory-2"></i></div>
            <h4 class="service__title">La planification fiscale et l’optimisation pour la gestion de fonds propres </h4>
            
          </div><!-- /.service-content -->
        </div><!-- /.service-item -->
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__content">
            <div class="service__icon"><i class="icon-factory"></i></div>
            <h4 class="service__title"> L’élaboration du business plan</h4>
            
          </div><!-- /.service-content -->
        </div><!-- /.service-item -->
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__content">
            <div class="service__icon"><i class="icon-eco"></i></div>
            <h4 class="service__title">L’estimation des CASH-FLOWS et l’analyse de marché.</h4>
            
          </div><!-- /.service-content -->
        </div><!-- /.service-item -->
      </div><!-- /.col-lg-4 -->
      
      
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.services Layout 2 -->
<section id="bannerLayout2" class="banner banner-layout2 bg-overlay bg-overlay-theme pb-0">
  <div class="bg-img"><img src="assets/images/banners/4.jpg" alt="background"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-5">
        <div class="heading heading-4 heading-white mb-70">
          <h3 class="text-white" style="line-height: 50px;">La simulation vous permet de vous familiariser avec les outils de la gestion de projet tel que le budget, le coût, la qualité, les ressources…etc, et comprendre les interactions entre les différents éléments de vos projets. </h3>
          <!-- <p class="heading__desc">Nos experts vous garantissent le bon déroulement de vos actions légales et fiscales internes et externes.</p> -->
        </div><!-- /.heading -->

      </div><!-- /.col-lg-5 -->
      <div id="rdv" class="col-sm-12 col-md-12 col-lg-7">
        <div class="contact__panel-wrap">
          <div  class="contact__panel contact__panel-layout2">
            <form class="contact__form-panel" method="POST" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="row">
                <div class="col-sm-12 contact__form-panel-header">
                  <h4>Prenez Rendez-vous</h4>
                  <p>Tous nos services sont adaptés et personnalisés selon les besoins de nos clients.</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group"><input type="text" name='name' class="form-control" placeholder="Nom"></div>
                </div><!-- /.col-lg-6 -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group"><input type="email"name='email'  class="form-control" placeholder="Email"></div>
                </div><!-- /.col-lg-6 -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group"><input type="text" name='phone' class="form-control" placeholder="Numéro de Téléphone"></div>
                </div><!-- /.col-lg-6 -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group"><input type="text" name='subject' class="form-control" placeholder="Sujet"></div>
                </div><!-- /.col-lg-6 -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group"><input type="date" name='day' class="form-control" placeholder="Date"></div>
                </div><!-- /.col-lg-6 -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group"><input type="time" name='hour' class="form-control" placeholder="Heure"></div>
                </div><!-- /.col-lg-6 -->
              
               
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group">
                    <textarea class="form-control" name="message" placeholder=" informations complémentaires "></textarea>
                  </div>
                </div><!-- /.col-lg-12 -->
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <button type="submit" class="btn btn__secondary btn__block">
                    <span>Envoyer</span><i class="icon-arrow-right"></i>
                  </button>
                </div><!-- /.col-lg-12 -->
              </div><!-- /.row -->
            </form>
          </div><!-- /.contact__panel -->
        </div>
      </div><!-- /.col-lg-7 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /. Banner layout 2 -->
{% endblock content %}